.whole_wrapper {
  box-sizing: border-box;
  background-color: #9ab99d;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 300px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 60px;
}

.body_wrapper {
  height: 170px;
}

.content {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.bottom_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  width: 350px;
  height: 150px;
  border-radius: 15px;
  border: none;
  background-color: #24622a;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.btn:hover {
  background-color: #57965d;
}

/* .question_page_body_wrapper {
  flex: 0;
}
.question_page_body {
  font-weight: 500;
  line-height: 1.5;
  height: auto;
  width: 900px;
  margin-top: 50px;
  padding: 10px;
}

.header_wrapper {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.header {
  font-size: 75px;
  font-weight: bold;
  padding-top: 50px;
}

.question_page_button {
  flex: 1;
  flex-direction: row;
  outline-width: 0px;
  color: white;
  background-color: #24622a;
  font-size: 60px;
  font-weight: bold;
  padding: 20px;
  width: 45%;
  margin-right: 25px;
  margin-left: 25px;
}
.question_page_button_wrapper {
  display: flex;
  padding: 20px;
} */
