.consent_page_wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 40px solid #9AB99D;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.consent_page_header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consent_page_header h1 {
    font-size: 28px;
    font-weight: 500;
}

.consent_page_agreement {
    flex: 1;
}

.consent_page_agreement p {
    padding: 15px;
}

.consent_page_agreement_btns {
    height: 80px;
    display: flex;
    justify-content: center;
}

.consent_page_agreement_btns button {
    font-size: 22px;
    font-weight: bold;
    background-color: #386F3E;
    color: white;
    outline: none;
    border: none;
    margin: 15px;
    padding: 0 40px;
}

@media only screen and (max-width: 610px) {
    .consent_page_header h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .consent_page_agreement_btns button {
        font-size: 18px;
        padding: 0 20px;
        margin: 15px 10px;
    }
}

@media only screen and (max-width: 450px) {
    .consent_page_header h1 {
        font-size: 18px;
    }

    .consent_page_agreement_btns button {
        font-size: 15px;
    }
}