* {
  padding: 0;
  margin: 0;
}

.timerbar {
  background-color: #9ab99d;
  width: 5%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: flex-end;
}

.timerbarinside {
  background-color: rgb(143, 142, 142);
  width: 100%;
  /* height: 50%; */
}
