* {
  padding: 0;
  margin: 0;
}

.timergroup {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
}

.time_bars_container {
  width: 100%;
  border: 1px solid red;
}

.timer_container {
  width: 120px;
  border: 1px solid blue;
}
