* {
  padding: 0;
  margin: 0;
}

.timergroup {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.time_bars_container {
  width: 100%;
  display: flex;
}

.timer_container {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
