* {
  padding: 0;
  margin: 0;
}

.timergroup {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}
/* .timerbar {
  margin-top: 13px;
  padding-left: 10px;
}
.timer {
  margin-top: 25px;
  padding-left: 20px;
} */
