.whole_wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 50px solid #9ab99d;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 40px;
  font-weight: 500;
}



/*delete below once working */
.agreement_content {
  flex: 1;
  padding: 20px 40px;
}

.agreement_content p {
  font-size: 20px;
}

.btns {
  display: flex;
  justify-content: center;
}

/* not sure how to get rid of this stuff - aidan */
@media only screen and (max-width: 610px) {
  .consent_page_header h1 {
    font-size: 20px;
    font-weight: 500;
  }

  .consent_page_agreement_btns button {
    font-size: 18px;
    padding: 0 20px;
    margin: 15px 10px;
  }
}

@media only screen and (max-width: 450px) {
  .consent_page_header h1 {
    font-size: 18px;
  }

  .consent_page_agreement_btns button {
    font-size: 15px;
  }
}
