* {
  padding: 0;
  margin: 0;
}

.timer {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  line-height: 100px;
  border-radius: 50%;
  font-weight: 700;
  color: white;
  font-size: 50px;
  background-color: rgb(15, 15, 15);
}
